@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); 

@import url('./darkweb.css');
@import url('./phone.css');
@import url('./messages.css');
@import url('./settings.css'); 
@import url('./garage.css');
@import url('./phonebook.css');
@import url('./maps.css'); 
@import url('./banking.css'); 
 
 
.iphone-container
{
    display: flex; 
    justify-content: flex-end;
    justify-items: end;

    box-sizing: content-box;
   
    overflow-y: hidden;
    overflow-x: hidden;

    position: absolute;
    z-index: 111;
     
    top: 120%;  
    width: 20rem;
    height: 40rem;  
    right: 30px;
    zoom: 88%; 
    font-family: 'Poppins', sans-serif; 
}

.iphone-container .iphone-mobile
{ 
    display: flex;
    justify-content: center;
    justify-items: center;

    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 6px solid #000;
 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iphone-background {
     
    z-index: -2;
    width: 102%;
    height: 102%;
    border-radius: 27px;
    background-image: 'url(https://i.imgur.com/IR9t0PR.png)';
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* iphone top */
.iphone-top {
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 100%;
}
.iphone-body-camera {
    position: absolute;
    z-index: 5;
    margin-top: 13px;

    width: 8rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iphone-body-camera.expand
{
    display: flex;
    flex-direction: row; 
    justify-items: center;

    width: 90%;
    height: 3.5rem;
    margin-top: 25px;
    border-radius: 50px;

    animation-duration:.3s;
    animation-name:popin;
} 

.iphone-body-camera .profile 
{
    height: 100%;
    width: auto;
}

.iphone-body-camera .buttons
{  
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;  
  
    width: 6rem;
    margin-right: 5px;
    font-size: 18px;
}

.iphone-body-camera .profile 
{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.iphone-body-camera .profile .icon 
{
    display: flex;
    justify-content: center;
    align-items: center;
 
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 19px; 
    border: 3.2px solid #666;
    color: #fff;
}
  
.iphone-body-camera .profile .details 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left; 
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
}

.iphone-body-camera .buttons .accept, .iphone-body-camera .buttons .decline 
{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 35px;
    height: 35px;
    background-color: red;
    color: #fff;
    border-radius: 50px;
}

.iphone-body-camera .buttons .accept:hover { box-shadow: 0px 0px 10px #00cc00; }
.iphone-body-camera .buttons .decline:hover { box-shadow: 0px 0px 10px red; }

.iphone-camera {
    position: relative;
    width: 12px;
    height: 12px; 
    background: radial-gradient(#6667ac, transparent 50%) no-repeat 33.3% 10%/75% 50%, radial-gradient(#454680, transparent 50%) no-repeat 60% 85%/50% 50%;
    background-color: #080928;
    margin: 0 5px;
    border-radius: 50%;  
}

.iphone-hour-signal {
    position: relative;
    z-index: 5;
    color: white;
    padding: 14px 17px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.iphone-battery-signal {
    display: flex;
    align-items: center;
}
.iphone-battery-signal > div {
    margin: 0 5px;
}
 
.iphone-middle {
    position: absolute;
    z-index: 3;
 
    height: auto; 
    color: white;
    
    display: flex;
    justify-content: center; 

    margin-bottom: 20rem;
}
.iphone-blocked-hour {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 1;
}
.iphone-blocked-date-content {
    font-weight: 500;
    transition: 0.5s; 
    font-size: 16px;
}
.iphone-blocked-hour-content {
    text-align: center;
}
.iphone-blocked-hour-content > span {
    font-size: 5.3rem;
    font-weight: 500;
    transition: 0.5s; 
}

/* iphone bottom content*/
.iphone-bottom 
{
    position: absolute;
    z-index: 2;
    top: 87%; 
    width: 100%; 
    display: flex;
    justify-content: center; 
}

.iphone-bar-menu-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;  
    height: 100%; 
    margin-top: 12%;
}

.iphone-bar-menu-header .span-pulse-iphone 
{
    animation: pulse 5s infinite;
}
 
@keyframes pulse {
	0% {
		transform: scale(1); 
	}

	70% {
		transform: scale(1.05); 
	}

	100% {
		transform: scale(1.1); 
	}
}

.iphone-bar-menu 
{
    position: fixed;
     
    z-index: 10;

    width: 8rem;
    height: .30rem;
    background-color: silver;
    border-radius: 20px; 

    margin-top: 1.3%;
}
.iphone-app-menu 
{
    position: fixed;
    transform: translate(0%, 0%); 
    z-index: 2;

    width: 18rem;
    height: 3.8rem;
    background-color:rgb(255 255 255 / 14%);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter:blur(15px);
    border-radius: 20px;
    padding: 7px 5px; 
    display: flex;
    justify-content: space-around;
    align-items: center; 
    animation-duration:.3s;
    animation-name:popin; 
}
 
.iphone-app-content 
{ 
    display: flex;
    align-items: center;
}
 
.phone-app-img:hover
{
    filter:brightness(80%);
    border-radius:30%;
    transition:1;
}
 
.iphone-global-applications
{
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: left;
    text-align: left; 
    justify-content: center;
    width: 100%;

    animation-duration:.3s;
    animation-name: popin; 
}
 
.iphone-global-applications .iphone-app-global-content
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 72px;
    height: 74px;
}

.iphone-global-applications .iphone-app-global-content > span
{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.5px; 
}

.phone-app-global-img:hover
{
    filter:brightness(80%);
    border-radius:30%;
    transition:1;
}


.application-emergency-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 6px solid #000;

    display: flex; 
    flex-direction: column; 
    background: #d4d4d4; 
     
    font-family: 'Inter', sans-serif; 
    font-weight: 600;
}


@keyframes popin
{
    from { transform:scale(0); transition: .7s ease-in-out; }
    to { transform:scale(1); transition: .7s ease-in-out; }
}

@keyframes phone-slide-up 
{ 
 
    from { opacity: 0; top: 100%; }
	to { opacity: 1; top: 43%; }
} 

@keyframes phone-slide-up-call
{ 
 
    from { opacity: 0; top: 100%; }
	to { opacity: 1; top: 92% }
}

@keyframes phone-slide-up-call-two
{ 
 
    from { opacity: 1; top: 92% }
	to { opacity: 1; top: 43%;}
}

@keyframes phone-slide-down
{ 
    from { opacity: 1; top: 43%; }
	to { opacity: 0; top: 100%; } 
}

@keyframes phone-slide-down-call
{ 
    from { opacity: 1; top: 92%; }
	to { opacity: 0; top: 100%; } 
}  