.application-maps-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 6px solid #000;
    
    background-color: #fff;
    color: #000;
    font-family: 'Inter', sans-serif; 

    animation-duration:.3s;
    animation-name:popin;
}

.application-maps-container .application-header
{
    display: flex;
    flex-direction: column; 
    margin-top: 50px;
    margin-left: 5px; 
}

.application-maps-container .application-header .application-title
{
    display: flex;
    flex-direction: row; 
    align-items: center;

    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.application-maps-container .application-header .application-title .application-title-back:hover { text-shadow: 0px 0px 20px #0375FF; }
.application-maps-container .application-header .application-title .application-title-back
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #0375FF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.application-maps-container .application-header .application-title .application-title-final
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.application-maps-container .application-header .application-search-bar
{ 
    width: 97.5%; 
    font-weight: 15px;
    font-weight: 500;    
    margin-top: 15px;
}

.application-maps-container .application-header .application-search-bar .search 
{
    width: 100%;
    position: relative;
    display: flex;  
}
  
.application-maps-container .application-header .application-search-bar .search .searchTerm 
{
    width: 100%; 
    padding: 5px;
    height: 30px; 
    outline: none;
    border: none;
    text-decoration: none; 
    border-radius: 0 5px 5px 0;
    background-color: #8d8d8d59;
    color: rgba(97, 97, 97, 0.521);
    font-weight: 20px;
    font-weight: 500;   
    letter-spacing: 1px; 
}
 
.application-maps-container .application-header .application-search-bar .search .search-button 
{
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 35px;
    height: 30px; 
    border: none;
    cursor: pointer; 
    background-color: #8d8d8d59;
    color: rgba(97, 97, 97, 0.521); 
    border-radius: 5px 0 0 5px; 
    font-weight: 20px;
    font-weight: 500;  
} 

.application-maps-container .application-footer
{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    align-items: center;
    height: 71%; 
    margin-top: 10px; 

    overflow-x: scroll;
}

.application-maps-container .application-footer .item 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 18.7rem;
    height: 2.8rem;
    margin-top: 10px; 
    color: #000;
    border-radius: 10px;
    background-color: #8d8d8d59;
}

.application-maps-container .application-footer .item .row-title
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left; 
    margin-left: 10px; 
}

 
.application-maps-container .application-footer .application-list-items .item.hover .title { font-size: 17px; font-weight: 500; letter-spacing: 0.5px; margin: 0 10px; } 

.application-maps-container .application-footer .application-list-items .item .row-title .title { font-size: 17px; font-weight: 600; letter-spacing: 0.5px; } 
.application-maps-container .application-footer .application-list-items .item .row-title .description { opacity: 0.8; font-size: 13px; font-weight: 500; letter-spacing: 0.5px;} 

.application-maps-container .application-footer .item:hover {background-color: #8d8d8d80;} 
.application-maps-container .application-footer .item.hover:hover {background-color: #8d8d8d80; color: #0375FF;}

 
.application-maps-container .application-footer .item .distance 
{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0 10px; 
    font-size: 18px; 
    font-weight: 800; 
} 
 
.application-maps-container .application-footer .item .distance .number 
{
    margin-left: 3px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    opacity: 0.8;
}