@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

.application-messages-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 6px solid #000;
    
    background-color: #fff;
    color: #000;
    font-family: 'Inter', sans-serif; 

    animation-duration:.3s;
    animation-name:popin;
}

.application-messages-container .application-header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
    margin-top: 50px; 
    border-bottom: 3px solid #EEEEEE;
}
 
.application-messages-container .application-header .application-title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;    
    width: 94%;
}

.application-messages-container .application-header .application-title .title 
{ 
    font-size: 20px;
    font-weight: 700; 
}
 
.application-messages-container .application-header .application-title .action 
{  
    font-size: 20px;
    font-weight: 700;  
    color: #0375FF;
    margin: 0 1px;
}

.application-messages-container .application-header .application-title .action:hover { text-shadow: 0px 0px 15px #0375FF; }
 
.application-messages-container .application-header .application-search-bar
{ 
    width: 95%; 
    font-weight: 15px;
    font-weight: 500;   
    margin: 10px 10px;
}

.application-messages-container .application-header .application-search-bar .search 
{
    width: 100%;
    position: relative;
    display: flex;  
}
  
.application-messages-container .application-header .application-search-bar .search .searchTerm 
{
    width: 100%; 
    padding: 5px;
    height: 30px; 
    outline: none;
    border: none;
    text-decoration: none; 
    border-radius: 0 5px 5px 0;
    background-color: #8d8d8d59;
    color: rgba(97, 97, 97, 0.521);
    font-weight: 20px;
    font-weight: 500;   
    letter-spacing: 1px; 
}
 
.application-messages-container .application-header .application-search-bar .search .search-button 
{
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 35px;
    height: 30px; 
    border: none;
    cursor: pointer; 
    background-color: #8d8d8d59;
    color: rgba(97, 97, 97, 0.521); 
    border-radius: 5px 0 0 5px; 
    font-weight: 20px;
    font-weight: 500;  
} 

.application-messages-container .application-footer
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;     
    font-weight: 15px;
    font-weight: 600;   
    height: 76%; 
    overflow-x: auto;
}

.application-messages-container .application-footer .item-with-border
{ 
    border-bottom: 3px solid #EEEEEE;
}

.application-messages-container .application-footer .item-with-border:hover 
{
    background-color: #8d8d8d63;
}

.application-messages-container .application-footer .item 
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left;     
    padding: 13px 10px; 
}

.application-messages-container .application-footer .item .icon
{
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;    
    width: 40px;
    height: 40px; 
    border-radius: 50px;
    font-size: 18px; 
    background-color: #8d8d8d;
    color: #fff
}
 
.application-messages-container .application-footer .item .details
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;   
}

.application-messages-container .application-footer .item .details .title 
{
    font-size: 15px;
    font-weight: 600;
    color: #000; 
}

.application-messages-container .application-footer .item .details .message 
{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #000;
    opacity: 0.6; 
    max-width: 13.5rem;
}


.application-messages-container .application-footer-messages
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    text-align: left;    
    margin: 10px 10px; 
    font-weight: 15px;
    font-weight: 600;   
    height: 76%; 
    overflow-x: auto;
}
 
.application-messages-container .application-footer-messages .messages-group 
{ 
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%; 
}

.application-messages-container .application-footer-messages .messages-group .message 
{
    max-width: 95%;
    width: fit-content;
    margin-bottom: 5px;
    padding: 5px 15px; 
    border-radius: 14px;
    background-color: #E9E9EB;
	color: #000000;
    position: relative; 
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px; 
    letter-spacing: 0.5px;
}

.application-messages-container .application-footer-messages .messages-group.my 
{
    align-items: flex-end;
}
 
.application-messages-container .application-footer-messages .messages-group.my .message
{
    text-align: right;
    color: #ffffff;
    background-color: #44b857;
}

.application-messages-container .application-input-messages
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.application-messages-container .application-input-messages .input-group
{
    position: relative;  
    width: 95%;  
    bottom: 15px; 
    border: 3px solid #E9E9EB;
    text-align: left;
    border-radius: 20px;
	box-sizing: border-box;  
    padding: 10px 10px; 
    display: flex; 
    align-items: center;
    text-align: left;
    text-decoration: none;
}
 
.application-messages-container .application-input-messages .input-group .input-message
{
	width: 85%; 
	display: inline-block;
	border:none;
    text-align: left;  
    font-size: 15px;
	font-weight: 500;
    text-decoration: none;
} 
  
.application-messages-container .application-input-messages .input-group:focus 
{
    outline: none !important;
    border: 2px solid #46ca16;
    box-shadow: 0 0 10px #46ca16;
    text-decoration: none;
}
 
.application-messages-container .application-input-messages .input-group .icon {
    position: absolute;
    background-color: transparent;
     
    left: 80%;
    border: none;
    outline: none;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 25px; 
    cursor: pointer;
}