.application-phone-container
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 6px solid #000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
 
    background: #fff;  
    font-family: 'Inter', sans-serif; 
    font-weight: 500;
    font-size: 15px;
}

.application-phone-container .application-phone-middle
{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
 
    height: 95%;
    width: 100%; 
}

.application-phone-container .application-phone-middle .application-phone-footer
{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center; 
    align-items: center;
    width: 100%;  
    border-bottom: 3px solid #e2e2e2;
}

.application-phone-container .application-phone-middle .application-phone-footer .aplication-phone-footer-row
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;    

    margin-top: 45px;  
    width: 100%;   
}
 
.application-phone-container .application-phone-middle .application-phone-footer .application-phone-back:hover, .application-phone-container .application-phone-middle .application-phone-footer .application-phone-add:hover , .application-phone-container .application-phone-center .phone-details-footer .phone-details-button-border .phone-details-button:hover { text-shadow: 0px 0px 20px #0375FF; }
.application-phone-container .application-phone-middle .application-phone-footer .application-phone-back
{  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 70px;

    font-size: 20px;
    font-weight: 700;  
    color: #0375FF;   
}

.application-phone-container .application-phone-middle .application-phone-footer .application-phone-add
{
    display: flex;
    justify-content: center;
    align-items: center;
     
 
    width: 70px;

    font-size: 20px;
    font-weight: 700;  
    color: #0375FF;   
}

.application-phone-container .application-phone-middle .application-phone-footer .application-phone-title 
{ 
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
     
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    font-size: 17px;   
    letter-spacing: 0.5px;
}
  
.application-phone-container .application-phone-header
{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    width: 100%; 
    height: 4rem;   
    z-index: 9999;  
}

.application-phone-container .application-phone-header .item { color: #868686; margin: 0 25px;}
.application-phone-container .application-phone-header .item.active, .application-phone-container .application-phone-header .item:hover { color: #0375FF; transform: scale(1.05); }
.application-phone-container .application-phone-header .item .icon { font-size: 20px; font-weight: 500; }
.application-phone-container .application-phone-header .item .subtitle 
{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
 
.application-phone-container .application-phone-middle .application-search-bar
{  
    width: 95%;
    font-weight: 15px;
    font-weight: 500;    
    margin-top: 15px;
}   

.application-phone-container .application-phone-middle .application-search-bar .search 
{
    width: 100%;
    position: relative;
    display: flex;  
}
  
.application-phone-container .application-phone-middle .application-search-bar .search .searchTerm 
{
    width: 100%; 
    padding: 5px;
    height: 30px; 
    outline: none;
    border: none;
    text-decoration: none; 
    border-radius: 0 5px 5px 0;
    background-color: #8d8d8d59;
    color: rgba(97, 97, 97, 0.521);
    font-weight: 20px;
    font-weight: 500;   
    letter-spacing: 1px; 
}

.application-phone-container .application-phone-middle .application-search-bar .search .searchTerm::-webkit-outer-spin-button,
.application-phone-container .application-phone-middle .application-search-bar .search .searchTerm::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
 
.application-phone-container .application-phone-middle .application-search-bar .search .search-button 
{
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center; 
    width: 35px;
    height: 30px; 
    border: none;
    cursor: pointer; 
    background-color: #8d8d8d59;
    color: rgba(97, 97, 97, 0.521); 
    border-radius: 5px 0 0 5px; 
    font-weight: 20px;
    font-weight: 500;  
} 

.application-phone-container .application-phone-center
{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin-top: 10px;
    width: 100%;
    height: 100%; 
}
 
.application-phone-container .application-phone-center .phone-contact
{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;  
    width: 95%;
    height: 2.3rem; 
    background-color: #8d8d8d59;
    color: #000; 
    border-radius: 5px;
    margin: 5px;
}

.application-phone-container .application-phone-center .phone-contact:hover {background-color: #e2e2e2;}

.application-phone-container .application-phone-center .phone-contact .phone-name 
{
    font-family: 'Montserrat', sans-serif; 

    margin: 0 10px;
    font-size: 17px;
    font-weight: 600; 
}

.application-phone-container .application-phone-center .phone-contact .phone-icon 
{
    margin: 0 10px;
    color: #0375FF;
    font-size: 22px;
}

.application-phone-container .application-phone-center .phone-details-header 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.application-phone-container .application-phone-center .phone-details-header .phone-details-name 
{
    margin-top: 7px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.application-phone-container .application-phone-center .phone-details-header .phone-details-icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 70px;
    height: 70px; 
    border-radius: 50px; 
}

.application-phone-container .application-phone-center .phone-details-footer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left; 
    margin-top: 40px; 
    width: 100%;
} 

.application-phone-container .application-phone-center .phone-details-footer .phone-details-button-border  
{
    display: flex;
    justify-content: left;
    align-items: center;

    height: 2.5rem; 
    width: 95%;
    border-bottom: 3px solid #e2e2e2;
}

.application-phone-container .application-phone-center .phone-details-footer .phone-details-button-border .phone-details-button
{
    margin: 5px 5px;
    color: #0375FF;
    font-size: 14px;
    margin: 30px;
}

/*------------------------------------------------------- [ PHONE KEYPAD ] -------------------------------------------------------*/
.application-phone-container .application-phone-middle .application-phone-number
{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #2b2b2b; 
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px; 
    width: 82%; 
    background-color: transparent;
    border: none;
}

.application-phone-container .application-phone-number[type='number'], .application-phone-container .application-phone-middle .application-search-bar .search .searchTerm { -moz-appearance: textfield; }
.application-phone-container .application-phone-number::-webkit-outer-spin-button, .application-phone-container .application-phone-number::-webkit-inner-spin-button { -webkit-appearance: none; }
.application-phone-container .application-phone-number:focus, input:focus { outline: none; }
.application-phone-container .application-phone-keys
{  
    display: flex;
    flex-direction: row; 
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;  
    justify-content: space-around;
    width: 95%; 
    margin-top: 25px;
}

.application-phone-container .application-phone-middle .application-phone-keys .key
{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 65px;
    height: 65px; 
    margin: 5px 5px; 
    font-size: 28px;
    font-weight: 400; 
    background-color: #c0c0c0b6;
    color: #2b2b2b; 
    border-radius: 50px;
}


.application-phone-container .application-phone-middle .phone-key-calling 
{
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 65px;
    height: 65px; 
    margin: 5px 5px; 
    font-size: 28px;
    font-weight: 400; 
    background-color: green;
    color: #fff; 
    border-radius: 50px;
    margin-top: 20px;
}

/*--------------------------------------------------------------------------------------------------------------------------------*/


/*------------------------------------------------------- [ PHONE CONTACTS ] -----------------------------------------------------*/
 
/*--------------------------------------------------------------------------------------------------------------------------------*/


.application-phone-container .application-phone-middle .application-phone-keys .key:hover 
{
    background-color: #c0c0c06e;
}

.application-phone-container .application-phone-actions
{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.application-phone-container .application-phone-actions .application-phone-call
{
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #208d20;
    color: #fff;
    margin: 0 80px; 
    font-size: 23px; 
    width: 65px;
    height: 65px; 
    border-radius: 50px;
}

.application-phone-container .application-phone-actions .application-phone-call:hover { 
    box-shadow: 0px 0px 20px #208d20;
}
 
.application-phone-container .application-phone-actions .application-phone-delete
{ 
    font-size: 25px;
}

.application-phone-container .application-phone-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; 
    font-weight: 600;
}
 
.application-phone-container .application-phone-header-call
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    width: 100%; 
    height: 5rem;    

    margin-top: 100px;
}

.application-phone-container .application-phone-header-call .photo 
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 19px;   
}

.application-phone-container .application-phone-header-call .title 
{
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 0px 0px 20px #000;
}

.application-phone-container .application-phone-header-call .status
{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #fff;
    margin-top: 3px;
    opacity: 0.8;
}

.application-phone-container  .application-phone-footer-call
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    width: 100%; 
    height: 15rem;     
}

.application-phone-container  .application-phone-footer-call .button-decline
{
    display: flex;
    flex-direction: column;  
    color: #fff; 
}


.application-phone-container  .application-phone-footer-call .button-decline .icon 
{
    display: flex;
    justify-content: center;
    align-items: center; 

    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50px;
    font-size: 25px;
}


.application-phone-container  .application-phone-footer-call .button-decline .title 
{
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
}