.application-settings-container
{

    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: 6px solid #000;
 
    display: flex; 
    flex-direction: column; 
    background: #fff; 

    font-family: 'Inter', sans-serif; 
    font-weight: 600;
}
 
.application-settings-container .application-title
{ 
    margin-top: 50px;
    margin-left: 18px;  
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px; 
    text-shadow: 0px 0px 10px #ffffff38;
}
 
.application-settings-container .application-settings-profile
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: left; 
    margin-top: 30px;
    margin-left: 18px;   
    width: 90%;
    height: 5rem; 
    border-radius: 10px;
    background-color: #e2e2e2;
    color: #000;
}

.application-settings-container .application-settings-profile .icon
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 50px;
    height: 50px;

    border-radius: 50px;
    background-color: #a3a3a3;
    color: #e2e2e2;
    font-size: 20px; 
}

.application-settings-container .application-settings-profile .details .name 
{
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.application-settings-container .application-settings-profile .details .number 
{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    letter-spacing: 0.5px;
}
 
.application-settings-container .application-settings-items
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left; 
    margin-top: 30px;
    margin-left: 18px;   
    width: 90%;
     
    border-radius: 10px;
    background-color: #e2e2e2;
    color: #000;
}

.application-settings-container .application-settings-items .setting 
{ 
    width: 100%;
    border-bottom: 3px solid #cacacabb;
}

.application-settings-container .application-settings-items .setting .setting-footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;   
    padding: 6px 10px;
}

.application-settings-container .application-settings-items .setting .setting-title
{
    display:flex;
    align-items:center;
}

.application-settings-container .application-settings-items .setting .setting-title .icon-22
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    width: 28px;
    height: 28px;
    font-size: 17px;
    color:#fff;
    border-radius: 7px;
}

.application-settings-container .application-settings-items .setting .setting-title .title
{
    font-size: 16px;
    font-weight: 500;
    color:#000; 
    letter-spacing: 0.5px; 
    opacity: 0.9; 
    padding-left: 10px;
}

.application-settings-container .application-settings-items .setting .setting-option
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    zoom: 80%;
}
 
.checkbox-settings
{
    height: 0;
    width: 0;
    visibility: hidden; 
}
  
.label-settings {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}
  
.label-settings:after {
    content: '';
    position: absolute;
 
    left: 0px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}
  
.checkbox-settings:checked + .label-settings {
    background: #14b90a;
    box-shadow:inset 0 0 20px #ffffff66;
}
  
.checkbox-settings:checked + .label-settings:after {
    left: calc(100%);
    transform: translateX(-100%);
}
  
.label-settings:active:after {
    width: 20px;
}
 
.application-settings-container .application-settings-items .setting.clickable:hover
{   
    background-color: #cacacabb;
}

/*---- [SETTINGS WALLPAPER ] ----*/
.application-settings-container .application-settings-header
{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 64%; 
    margin-top: 50px;
}

.application-settings-container .application-settings-header .title 
{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.application-settings-container .application-settings-header .back 
{  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    font-weight: 700;  
    color: #0375FF;
    margin: 0 10px;
}

.application-settings-container .application-settings-header .back:hover 
{
    text-shadow: 0px 0px 10px #0375FF;
}

.application-settings-container .application-settings-footer
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    margin-top: 10px;

    overflow-y: scroll;
    width: 100%;
    max-height: 81%; 
}
.application-settings-container .application-settings-footer.ringtones 
{
    display: flex;
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.application-settings-container .application-settings-footer .item-sound
{
    display: flex;
    flex-direction: row; 
    text-align: center;
    align-items: center;
    justify-content: space-between;
 
    width: 90%;
    height: 3rem;

    border-radius: 10px;
    background-color: #e2e2e2; 
    margin-top: 5px;
}

.application-settings-container .application-settings-footer .item-sound .play 
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
 
    background-color: rgb(81, 177, 37);
    border-radius: 5px;
    color: #fff;
}

.application-settings-container .application-settings-footer .item-sound .buttons-sounds 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.application-settings-container .application-settings-footer .item { position: relative; margin: 5px; }
.application-settings-container .application-settings-footer .item img { width: 8rem; height: 14rem; zoom: 71%; border-radius: 10px; }
.application-settings-container .application-settings-footer .item img:hover { transform: scale(1.02); } 
 
.application-settings-container .application-settings-footer .item-sound .buttons-sounds .play.played { background-color: rgb(252,39,76) } 
.application-settings-container .application-settings-footer .item-sound .buttons-sounds .play.played:hover { box-shadow: 0px 0px 10px rgb(252,39,76) } 
.application-settings-container .application-settings-footer .item-sound .buttons-sounds .start-sound:hover { box-shadow: 0px 0px 10px rgb(81, 177, 37) }
.application-settings-container .application-settings-footer .item-sound .buttons-sounds .play.set-sound:hover { box-shadow: 0px 0px 10px rgb(255,139,2) } 
  
.application-settings-container .application-settings-footer .item .checked 
{
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 15px;
    font-weight: 600;
     
    width: 30px;
    height: 30px;

    top: 72%;
    left: 50px;

    color: #fff;
    background-color: rgba(74, 189, 21, 0.938);
    box-shadow: 0px 0px 15px rgb(74, 189, 21);; 
    border-radius: 50px;
}