<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CodePen - Interactive Wheel</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet"><link rel="stylesheet" href="./style.css">
    </head>

    <body> 
        <div class="indigenous-wheel"> 
            <div class="center">
                <span>
                    <i class="fa-solid fa-xmark"></i>
                </span>
            </div>

            <div class="tile tile-1">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.8 129.6" enable-background="new 0 0 202.8 129.6" xml:space="preserve">
                    <path d="M131.9,128.9l70.8-100.3C171.8,9.1,136.4-0.7,99.7,0C80.4,0.5,61.4,3.8,43.1,10C27.8,15.3,13.4,22.4,0,31.3l73.5,98.3 C91.4,120.3,113.2,119.6,131.9,128.9z"/>
                </svg>

                <div class="content"> 
                    <h3>PILLAR 1</h3>
                    <span>Indegenous Nations and Communities</span>
                </div>
            </div>
        
            <div class="tile tile-2">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.8 129.6" enable-background="new 0 0 202.8 129.6" xml:space="preserve">
                    <path d="M131.9,128.9l70.8-100.3C171.8,9.1,136.4-0.7,99.7,0C80.4,0.5,61.4,3.8,43.1,10C27.8,15.3,13.4,22.4,0,31.3l73.5,98.3 C91.4,120.3,113.2,119.6,131.9,128.9z"/>
                </svg>
                <div class="content"> 
                    <h3>PILLAR 2</h3>
                    <span>Equitable Access Opportunities</span>
                </div>

            </div>

            <div class="tile tile-3">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.8 129.6" enable-background="new 0 0 202.8 129.6" xml:space="preserve">
                    <path d="M131.9,128.9l70.8-100.3C171.8,9.1,136.4-0.7,99.7,0C80.4,0.5,61.4,3.8,43.1,10C27.8,15.3,13.4,22.4,0,31.3l73.5,98.3 C91.4,120.3,113.2,119.6,131.9,128.9z"/>
                </svg>

                <div class="content"> 
                    <h3>PILLAR 3</h3>
                    <span>Indigenous Learning and Development for All</span>
                </div>
            </div>

            <div class="tile tile-4">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.8 129.6" enable-background="new 0 0 202.8 129.6" xml:space="preserve">
                    <path d="M131.9,128.9l70.8-100.3C171.8,9.1,136.4-0.7,99.7,0C80.4,0.5,61.4,3.8,43.1,10C27.8,15.3,13.4,22.4,0,31.3l73.5,98.3 C91.4,120.3,113.2,119.6,131.9,128.9z"/>
                </svg>

                <div class="content"> 
                    <h3>PILLAR 4</h3>
                    <span>Indigenous Spaces</span>
                </div>
            </div>

            <div class="tile tile-5">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 202.8 129.6" enable-background="new 0 0 202.8 129.6" xml:space="preserve">
                    <path d="M131.9,128.9l70.8-100.3C171.8,9.1,136.4-0.7,99.7,0C80.4,0.5,61.4,3.8,43.1,10C27.8,15.3,13.4,22.4,0,31.3l73.5,98.3 C91.4,120.3,113.2,119.6,131.9,128.9z"/>
                </svg>

                <div class="content"> 
                    <h3>PILLAR 5</h3>
                    <span>Student Services and Experiences</span>
                </div>
            </div>
        </div>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script><script  src="./script.js"></script> 
    </body>
</html>