@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css');   
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@500;600;700;800;900&display=swap');

.background-global-effect
{
	background: radial-gradient(20% 100% at 50% 50%, rgba(65, 59, 180, .95) 0%, rgba(22, 21, 45, .95) 100%);
	background-size:500%, 600%;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.global-modal-effect 
{
	background: radial-gradient(20% 100% at 50% 50%, rgba(65, 59, 180, .90) 0%, rgba(22, 21, 45, .98) 100%);
	background-size: 500%, 500%;
	left: 0;
	top: 0;

	position: absolute; 
	width: 100%;
	height: 100%;
	z-index: 1; 
}  

.authorization-effect 
{
	background: radial-gradient(20% 100% at 50% 50%, rgba(65, 59, 180, .95) 0%, rgba(22, 21, 45, .95) 100%);
	background-size:500%, 600%;
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
} 

.box-one-effect
{
    background: radial-gradient(20% 100% at 50% 50%, rgba(65, 59, 180, .75) 0%, rgba(22, 21, 45, .25) 100%);
    background-size:500%, 600%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}


input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


@keyframes fadeIn 
{
	0% { opacity: 0; }
	100% { opacity: 1; }
}
  

@keyframes fadeOut
{ 
    from { opacity: 1; }
	to { opacity: 0; }
}

@keyframes globalPulse {
	 
	0%, 100% {
		opacity: 1;
		box-shadow: 0px 0px 10px rgb(192, 0, 0);
	}
	50% {
		opacity: .5;
		box-shadow: 0px 0px 7px rgb(231, 0, 0);
	}

}